*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*1rem=10px*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Prata', serif;
  font-size: 1.6rem;
  line-height: 3.2rem; }

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif; }

.heading-primary {
  font-size: 10rem;
  line-height: 12rem; }

.navigation__item {
  display: inline-block;
  list-style: none; }

.navigation__link {
  text-decoration: none; }

.header {
  background-image: url(../../img/computers-coding.jpg);
  background-size: cover;
  background-position: top;
  height: 80vh;
  clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0); }
