/* COLORS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*1rem=10px*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a,
a:link,
a:visited {
  text-decoration: none; }

body {
  font-family: 'Prata', serif;
  font-size: 1.6rem;
  line-height: 3.2rem; }

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif; }

.heading-primary {
  font-size: 6rem;
  letter-spacing: .5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }
  .heading-primary::after {
    content: "";
    display: block;
    width: 140%;
    border-bottom: 3px solid rgba(255, 139, 0, 0.7);
    border-radius: 50%;
    transform: translate(-15%, 4rem); }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  transition: all .2s; }
  .heading-secondary:hover {
    opacity: .5;
    transform: scale(1.05); }
  .heading-secondary::after {
    content: "";
    display: block;
    width: 4rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    border-radius: 2px; }
  .heading-secondary--dark {
    color: #030b1a; }
    .heading-secondary--dark::after {
      border-bottom: 2px solid #030b1a; }
  .heading-secondary--light {
    color: #eaf7fd; }
    .heading-secondary--light::after {
      border-bottom: 2px solid #eaf7fd; }

.navigation__logo-box, .navigation__logo-box:link, .navigation__logo-box:visited {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2rem;
  text-transform: uppercase; }

.btn {
  font-size: 1.7rem;
  line-height: 1.7rem; }

.u-margin-bottom-big {
  margin-bottom: 7rem !important; }

.u-margin-bottom-med {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-top-big {
  margin-top: 7rem !important; }

.u-margin-top-med {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-center-text {
  text-align: center; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 1rem;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1);
  transition: all .2s;
  border: none;
  cursor: pointer; }

.btn:active {
  transform: translateY(-1px) scale(0.95);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1); }

.btn--transparent, .btn--transparent:link, .btn--transparent:visited {
  color: rgba(234, 247, 253, 0.9);
  background: rgba(245, 245, 245, 0.05);
  border: 2px solid rgba(245, 245, 245, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.btn--transparent:active {
  border: 2px solid rgba(255, 139, 0, 0.5); }

.btn--transparent:hover {
  color: #ff8b00; }

.btn > i {
  font-size: 2rem;
  margin-right: .8rem; }

.skills-box {
  text-align: center;
  display: flex;
  justify-content: space-evenly; }
  @media only screen and (max-width: 50em) {
    .skills-box {
      flex-direction: column; } }
  .skills-box__illustration {
    width: 12rem; }
    @media only screen and (max-width: 50em) {
      .skills-box__illustration {
        width: 8rem; } }
  .skills-box__group {
    min-width: 20%;
    padding: 2rem 5rem;
    border-radius: 4px;
    transition: all .2s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1); }
    .skills-box__group:hover {
      transform: scale(1.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 50em) {
      .skills-box__group {
        display: grid;
        grid-template-columns: 1fr max-content 1fr max-content 1fr;
        grid-template-rows: repeat(3, max-content);
        align-items: center;
        align-self: center;
        margin-bottom: 4rem;
        width: 40rem; } }
  @media only screen and (max-width: 50em) {
    .skills-box__head {
      grid-column: 2 / 5;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 4rem; } }
  .skills-box__skill {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; }
    .skills-box__skill--icon {
      margin-right: 1rem;
      font-size: 2.5rem; }
    .skills-box__skill--text {
      font-size: 1.4rem; }
    @media only screen and (max-width: 50em) {
      .skills-box__skill--1 {
        grid-column: 2 / 3; }
      .skills-box__skill--2 {
        grid-column: 4 / 5; }
      .skills-box__skill--3 {
        grid-column: 2 / 3; }
      .skills-box__skill--4 {
        grid-column: 4 / 5; } }

.header {
  background-image: linear-gradient(to right top, rgba(3, 37, 53, 0.6), rgba(3, 37, 53, 0.9)), url(../../img/computers-coding-1k.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  height: 90vh;
  color: #eaf7fd;
  clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
  display: grid;
  grid-template-rows: [start-nav] 8rem [end-nav start-head] 1fr [end-head];
  grid-template-columns: 1fr max-content 1fr; }
  @media (min-resolution: 192dpi) and (min-width: 31.25em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 31.25em), (min-width: 62.5em) {
    .header {
      background-image: linear-gradient(to right top, rgba(3, 37, 53, 0.6), rgba(3, 37, 53, 0.9)), url(../../img/computers-coding-2k.jpg); } }
  @media (min-resolution: 192dpi) and (min-width: 62.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 62.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right top, rgba(3, 37, 53, 0.6), rgba(3, 37, 53, 0.9)), url(../../img/computers-coding-3-5k.jpg); } }
  .header__text-box {
    grid-row: start-head / end-head;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr [start-content] max-content [end-content] 1fr;
    grid-template-rows: 1fr [start-heading] max-content [end-heading] 10rem [start-intro] max-content [end-intro] 8rem [start-links] max-content [end-links] 3fr; }
  .header__heading-logo {
    grid-column: start-content / end-content;
    grid-row: start-heading / end-heading; }
  .header__intro {
    grid-column: start-content / end-content;
    grid-row: start-intro / end-intro;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), 0 2px 2px rgba(0, 0, 0, 0.4); }
  .header__contact-links {
    grid-column: start-content / end-content;
    grid-row: start-links / end-links;
    display: flex;
    justify-content: space-around; }

.navigation {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__logo-box {
    margin-left: 2rem; }
    .navigation__logo-box, .navigation__logo-box:link, .navigation__logo-box:visited {
      color: rgba(234, 247, 253, 0.8); }
      .navigation__logo-box:hover, .navigation__logo-box:link:hover, .navigation__logo-box:visited:hover {
        color: #ff8b00; }
  .navigation__list {
    display: flex;
    width: 40rem;
    justify-content: space-evenly; }
  .navigation__item {
    list-style: none; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    color: rgba(234, 247, 253, 0.8);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all .2s; }
  .navigation__link:hover {
    color: #ff8b00; }

.section-skills {
  background-color: #f5f5f5;
  padding: 15vh 5%;
  margin-top: -15vh; }

.section-portfolio {
  background-image: linear-gradient(to right top, rgba(3, 37, 53, 0.6), rgba(3, 37, 53, 0.9)), url(../../img/sai-kiran-anagani-code-1k.jpg);
  margin-top: -15vh;
  padding: 15vh 5%;
  background-size: cover;
  clip-path: polygon(50% 25%, 100% 0, 100% 100%, 0 100%, 0 0);
  height: 90vh; }
  @media (min-resolution: 192dpi) and (min-width: 31.25em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 31.25em), (min-width: 62.5em) {
    .section-portfolio {
      background-image: linear-gradient(to right top, rgba(3, 37, 53, 0.6), rgba(3, 37, 53, 0.9)), url(../../img/sai-kiran-anagani-code-2k.jpg); } }
  @media (min-resolution: 192dpi) and (min-width: 62.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 62.5em), (min-width: 125em) {
    .section-portfolio {
      background-image: linear-gradient(to right top, rgba(3, 37, 53, 0.6), rgba(3, 37, 53, 0.9)), url(../../img/sai-kiran-anagani-code-4k.jpg); } }
