.header {
    background-image: linear-gradient(
        to right top, rgba($color-overlay, .6), rgba($color-overlay, .9)),
        url(../../img/computers-coding-1k.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    height: 90vh;
    color: $color-text-light;
    @include arrow-shape-bottom;

    display: grid;
    grid-template-rows: [start-nav] 8rem [end-nav start-head] 1fr [end-head];
    grid-template-columns: 1fr max-content 1fr;

    //for 2x screen 500px or 1k pixel width or larger
    @media (min-resolution: 192dpi) and (min-width: 31.25em),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 31.25em),
		(min-width: 62.5em) {
            background-image: linear-gradient(
                to right top, rgba($color-overlay, .6), rgba($color-overlay, .9)),
                url(../../img/computers-coding-2k.jpg);
    }
    //for 2x screen 1k px or 2k pixel width or larger
    @media (min-resolution: 192dpi) and (min-width: 62.5em),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 62.5em),
		(min-width: 125em) {
            background-image: linear-gradient(
                to right top, rgba($color-overlay, .6), rgba($color-overlay, .9)),
                url(../../img/computers-coding-3-5k.jpg);
    }
    
    &__text-box {
        grid-row: start-head / end-head;
        grid-column: 2 / 3;

        display: grid;
        grid-template-columns: 1fr [start-content] max-content [end-content] 1fr;
        grid-template-rows: 1fr [start-heading] max-content [end-heading] 10rem [start-intro] max-content [end-intro] 8rem [start-links] max-content [end-links] 3fr;
    }

    &__heading-logo {
        grid-column: start-content / end-content;
        grid-row: start-heading / end-heading;
    }
    &__intro {
        grid-column: start-content / end-content;
        grid-row: start-intro / end-intro;
        text-shadow: 
            0 1px 1px rgba($color-black, .4),
            0 2px 2px rgba($color-black, .4);
    }
    &__contact-links {
        grid-column: start-content / end-content;
        grid-row: start-links / end-links;

        display: flex;
        justify-content: space-around;
    }

}