.navigation {

    &__nav {
        text-align: right;
    }

    &__item {
        display: inline-block;
        margin-right: 2%;
        margin-top: 2rem;
    }
    
    &__link {
        &:link,
        &:visited {
            color: rgba($color-text-light, .8);
            list-style: none;
            text-decoration: none;
            text-shadow: 0 1px 1px rgba($color-black, .1);
            transition: all .2s;
        }
        
        @include hover-color-details;
    }
}