.btn {
    display: inline-block;
    width: 12rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    @include box-shadow-layered;
    transition: all .2s;

    &,
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-text-light;
    }

    &:hover,
    &:active {
        color: $color-details;
        text-shadow: 0 1px 1px rgba($color-black, .4);
    }

    &--white {
        background: rgba($color-white, .75);
    }

    &--transparent {
        background: rgba($color-white, .05);
        border: 2px solid rgba($color-white, .75);
    }

    &--git {
    }

    &--mail { float: right; }

    & > i { font-size: 2rem; }
}