.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        padding: 1rem 3rem;
        text-align: center;
        border-radius: 1rem;
        text-decoration: none;
        @include box-shadow;
        transition: all .2s;

        //changes for <button> element:
        border: none;
        cursor: pointer;
    }

    &:active{ 
        @include press-in;
        @include box-shadow-small;
    }

    &--transparent {
        &,
        &:link,
        &:visited {
            color: rgba($color-text-light, .9);
            background: rgba($color-white, .05);
            border: 2px solid rgba($color-white, .5);
            text-shadow: 0 1px 1px rgba($color-black, .2);
        }

        &:active { border: 2px solid rgba($color-details, .5); }
        @include hover-color-details;
    }

    &--git { margin-right: 7rem; }

    & > i { 
        font-size: 2rem;
        margin-right: .8rem;
    }
}