body {
    font-family: 'Prata', serif;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
.navigation {
    &__logo-box {
        &,
        &:link,
        &:visited {
            font-family: 'Fredericka the Great', cursive;
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}
.heading-primary {
    font-size: 7rem;
    letter-spacing: .5rem;
}

.btn { 
    font-size: 1.7rem;
    line-height: 1.7rem;
}