body {
    font-family: 'Prata', serif;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

// HEADINGS
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
.heading-primary {
    font-size: 6rem;
    letter-spacing: .5rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    &::after {
        content: "";
        display: block;
        width: 140%;
        border-bottom: 3px solid rgba($color-details, .7);
        border-radius: 50%;
        transform: translate(-15%, 4rem);
    }
}
.heading-secondary {
    text-transform: uppercase;
    font-size: 3.5rem;
    transition: all .2s;

    &:hover {
        opacity: .5;
        transform: scale(1.05);
    }

    &--dark {
        color: $color-text-dark;
    }

    &::after {
        content: "";
        display: block;
        width: 4rem;
        margin: 0 auto;
        padding-bottom: 1rem;
        border-radius: 2px;
        border-bottom: 2px solid $color-text-dark;
    }
}
// COMPONENTS AND LAYOUT-SPECIFIC
.navigation {
    &__logo-box {
        &,
        &:link,
        &:visited {
            font-family: 'Fredericka the Great', cursive;
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}
.btn { 
    font-size: 1.7rem;
    line-height: 1.7rem;
}