body {
    font-family: 'Prata', serif;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.heading-primary {
    font-size: 10rem;
    line-height: 12rem;
}