.section-skills {
    background-color: $color-white;
    padding: 15vh 5%;
    margin-top: -15vh;
}

.section-portfolio {
    background-image: linear-gradient(
        to right top, rgba($color-overlay, .6), rgba($color-overlay, .9)),
        url(../../img/sai-kiran-anagani-code-1k.jpg);
    margin-top: -15vh;
    padding: 15vh 5%;
    background-size: cover;
    @include arrow-shape-top;

    //temporary
    height: 90vh;

    //for 2x screen 500px or 1k pixel width or larger
    @media (min-resolution: 192dpi) and (min-width: 31.25em),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 31.25em),
        (min-width: 62.5em) {
            background-image: linear-gradient(
                to right top, rgba($color-overlay, .6), rgba($color-overlay, .9)),
                url(../../img/sai-kiran-anagani-code-2k.jpg);
    }
    //for 2x screen 1k px or 2k px width or larger
    @media (min-resolution: 192dpi) and (min-width: 62.5em),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 62.5em),
		(min-width: 125em) {
            background-image: linear-gradient(
                to right top, rgba($color-overlay, .6), rgba($color-overlay, .9)),
                url(../../img/sai-kiran-anagani-code-4k.jpg);
    }
}